.jb-auth-form {
  margin-top: 50px;
}
.jb-auth-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.jb-form-group-auth {
  margin-bottom: 40px;
}

.jb-form-group-auth-label {
}

.jb-form-group-auth-input {
}
