* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background: #f2f3fb;
  color: #333f5c;
}

button,
.btn {
  cursor: pointer;
  font-family: "Roboto";
  font-size: 12px;
}

.jb-container {
  display: block;
  margin: 0 auto;
  width: 992px;
  padding-top: 100px;
}

.sensitive {
  background: black;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}
.sensitive-show {
  background: transparent;
}
