.jb-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #4200ff;
  background: #cfc2fc;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
